.domain-info {
  background-color: rgba(30, 30, 30, 0.8);
  padding: 12px;
  border-radius: 12px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  cursor: pointer;
}

.domain-info-row {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex-grow: 1;
}

.domain-info-row-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.domain-info-row-content-inner {
  display: flex;
  flex-direction: row;
}

.domain-info-row-content-tags {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 4px;
}

.domain-info-row-action {
  color: crimson;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

@media only screen and (max-width: 400px) {
  .domain-info-row-content-tags {
    flex-direction: column;
    gap: 4px;
    margin-top: 4px;
  }
}