.loading-indicator {
  text-align: center;
}

.pages-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pages-refresh-button {
  border: 0;
  background: none;
  color: white;
}

.pages-notification {
  color: #BCABFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
